annotated-doc
annotated-types
anyio
certifi
click
fastapi
GeoAlchemy2
h11
httpcore
httptools
httpx
idna
Jinja2
MarkupSafe
pydantic
pydantic_core
python-dotenv
PyYAML
SQLAlchemy
starlette
typing-inspection
typing_extensions
uvicorn
watchfiles
websockets
